*{
    margin: 0;
    padding: 0;
}

html{
   
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(20, 20, 20, .70), rgba(20, 20, 20, .70)), url(../img/bg.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


  
.logo{
    margin-bottom: 10px;
    border: 10px solid white;
    border-radius: 5px;
}

.navcon{
    background-color: white;
    margin-top: 0;
}

.navitem{
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
    color: #f74e98;
}

.navitem:hover{
    background-color: #f74e97ab;
    border-radius: 10px;
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link{
    color: #f74e98;
}

.header-text{
    font-family: "Lato", "Verdana";
    background-color: transparent;
    color: #f74e98;
}

.headermain{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
    color: #21135f;
}

.jumbot{
   min-height: 100vh;
   background-color: white;
   max-width: 100%;
}

.jumbotron{
    margin: 0;
}

.btn{
    color: #21135f;
    background-color: #f74e98;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #555;
    color: #f74e98;
}

.section1{
    min-height: 100vh;
    background-image: linear-gradient(rgba(220, 220, 220, .70), rgba(220, 220, 220, .70)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover; 
}

.vidcon{
    margin-top: 40%;
}

.cardcon{
    margin-top: 20%;
    background-color: white;
    min-height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
    -webkit-box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
    -moz-box-shadow: -3px 4px 35px -4px rgba(0,0,0,0.71);
}

.card h3{
    padding: 15px;
    text-transform: uppercase;
    font-size: 90%;
    text-align: center;
}

.card h4{
    padding: 15px;
    text-transform: uppercase;
    font-size: 85%;
    text-align: center;
    color: #21135f;
    margin-bottom: 0;
}

.card p{
    font-size: 80%;
}

.btn-card:link, .btn-card:visited{
    border: 1px solid #f07f16;
    color: #f07f16;
    border-radius: 20px;
    font-size: 75%;
    padding: 5px 15px;
    margin-left: 33%;
}

.btn-card:hover, .btn-card:active{
    transition: .5s;
    color: white;
    background-color: #9c530e;
    text-decoration: none;
}

.section2{
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.329);
}

.concon{
    min-height: 90vh;
    margin-top: 5%;
}

footer{
    min-height: 10vh;
    background-color: gray;
}

.tech{
    padding-top: 70px;
    text-align: center;
    font-size: 200%;
    color: #f07f16;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.ft{
    color:#21135f;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: uppercase;
}

.ft2{
    font-size: 90%;
    color:#21135f;
    padding: 20px;
    margin-bottom: 0;
}



.rtbutton{
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
}

.rtbutton a:link,
.rtbutton a:visited{
   color:#f74e98;
}

@media(max-width: 800px){
    .navcon{
        background-color: #ffffff;
    }
    .btn{
        font-size: 0.8rem;
    }
    .header-text{
        margin-bottom: 0;
    }
    .headermain{
        font-size: 1.5rem;
    }
    .ft{
        font-size: 60%; 
    }
    .ft2{
        font-size: 80%;
        text-align: center;
    }
    .TSCard{
        margin-top: 0;
    }
} 